In [4]:
%load_ext sql

In [12]:
from sqlalchemy import create_engine
import sqlalchemy.sql
import json

In [10]:
import getpass

passwd = 'Iywc50D8cJoPZffhFhXppdORbax81B1T'
dbuser='hfjzqmcd'
eng = create_engine('postgres://{0}:{1}@ruby.db.elephantsql.com:5432/hfjzqmcd'.format(dbuser, passwd))

con = eng.connect()

In [30]:
con.execute('DROP TABLE covid;')

con.execute("""
    CREATE TABLE IF NOT EXISTS covid (
        country VARCHAR(32) PRIMARY KEY,
        cases INT,
        deaths INT,
        recover INT
    );
""")

In [31]:
covid = json.load(open('covid.json', 'r', encoding = 'utf-8'))
for line in covid:
    cases = int(line['Cases'].replace(',', '').replace('No data', '-1'))
    deaths = int(line['Deaths'].replace(',', '').replace('No data', '-1'))
    recover = int(line['Recover'].replace(',', '').replace('No data', '-1'))
    
    con.execute('INSERT INTO covid (country, cases, deaths, recover) VALUES (%s, %s, %s, %s)', 
                (line['Country'], cases, deaths, recover))

In [32]:
result = con.execute('SELECT * FROM covid limit 10').fetchall()
for item in result:
    print(item)

('United States', 2886252, 131732, 871523)
('Brazil', 1578376, 64365, 978615)
('Russia', 674515, 10027, 446879)
('India', 648315, 18655, 394226)
('Peru', 299080, 10412, 189621)
('Chile', 291847, 6192, 257445)
('United Kingdom', 284900, 44198, -1)
('Mexico', 252165, 30366, 152309)
('Spain', 250545, 28385, 150376)
('Italy', 241419, 34854, 191944)